<section id="episode-page" class="main-page-content">
  <section class="left">
    {{{mainTitle episode.title show.title}}}
    <section>
      <section id="video">
        {{{episode.html}}}
        <!--hack to fix missing iframe tag coming from youtube api-->
        </iframe>
      </section>
      <section class="share-buttons">
        <span class='st_email_large' displayText='Email'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
      </section>
      <section id="description">
        <h2>Episode description</h2>
        {{{episodeDescription episode.description}}}
      </section>
    </section>
  </section>
  <aside class="right">
    {{{logobox}}}
    <section class="show-description">
      {{{secondaryTitle show.title}}}
      {{showDescription show.description}}
    </section>
  </aside>
  <div class="clear"></div>
  <section class="previous-episodes">
    <h2>Previous episodes</h2>
    {{#each episodes}}
    <div class="show-episode left">
      <a href="{{url ../show.name urlName}}">
        <img src="{{thumbnails.medium.url}}">
      </a>
      <div class="episode-info">
        <a href="{{url ../show.name urlName}}">
          <h3>{{{episodeTitle title ../show.title}}}</h3>
          <span class="date">{{episodeDate publishedAt}}</span>
        </a>
        <p>{{episodeDescriptionSnippet description}}</p>
      </div>
    </div>
    {{/each}}
  </section>
</section>
