<section id="shows-page" class="main-page-content">
  <section class="left">
    <h1 class="main-title">NUTV Shows</h1>
    <section>
      <ul class="shows">
        {{#each shows}}
        <li class="{{alternate @index}}">
          <a href="{{url 'shows' name}}">
          <image class="left"
            src="{{thumbnails.default.url}}"
            width="{{thumbnails.default.width}}"
            height="{{thumbnails.default.height}}">
          <div class="right details">
            <h2>{{title}}</h2>
            <p class="description">{{showDescriptionShort description}}</p>
          </div>
          <div class="clear"></div>
          </a>
        </li>
        {{else}}
        <li>
          No shows found...
        </li>
        {{/each}}
      </ul>
    </section>
  </section>
  <aside class="right">
    {{{logobox}}}
    <section class="show-description">
      {{{secondaryTitle 'description here'}}}
      This is a description about shows. Please tell Richie what you would
      like here. Could be anything, maybe a story about Christmas? Or not...
    </section>
  </aside>
  <div class="clear"></div>
</section>
