<section id="shows-page" class="main-page-content">
  <section class="left">
    <h1 class="main-title">NUTV Shows</h1>
    <section id="intro-to-nutv">
      <iframe
        width="745"
        height="440"
        src="//www.youtube.com/embed/RZPTmIaSwpY?rel=0"
        frameborder="0"
        allowfullscreen></iframe>
    </section>
    <section>
      <ul class="shows">
        {{#each shows}}
        <li class="{{alternate @index}}">
          <a href="{{url name}}">
          <image class="left"
            src="{{thumbnails.default.url}}"
            width="{{thumbnails.default.width}}"
            height="{{thumbnails.default.height}}">
          <div class="right details">
            <h2>{{title}}</h2>
            <p class="description">{{showDescriptionShort description}}</p>
          </div>
          <div class="clear"></div>
          </a>
        </li>
        {{else}}
        <li>
          No shows found...
        </li>
        {{/each}}
      </ul>
    </section>
  </section>
  <aside class="right">
    {{{logobox}}}
    <section class="show-description">
      {{{secondaryTitle 'NUTV’s programming'}}}
      awakens and engages the campus community while
      fostering innovation and learning in an accessible media arts environment.
    </section>
  </aside>
  <div class="clear"></div>
</section>
